body{
background-color: rgb(226, 226, 226);
}

h1{
    color: darkblue;
}

p{
    text-decoration: underline;
}
a{
    text-decoration: none;
    background-color: blueviolet;
    color: beige;
    padding: 10px 30px;
    border-radius: 25px;
}

.ball{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: blanchedalmond;
    border: 3px solid black;
    
    
}
.text-important{
    font-size: 2rem;
    background-color: yellow;
    font-style: oblique;
}
#titulo-web{
    font-family: "Sour Gummy", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}